<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jkdajac.cookingnote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CookingNote">
        <activity android:name=".salad.EditSaladActivity"></activity>
        <activity android:name=".salad.SaladActivity" />
        <activity android:name=".zakuski.EditZakuskiActivity" />
        <activity android:name=".zakuski.ZakuskiActivity" />
        <activity android:name=".firstbluda.EditFirstbludaActivity" />
        <activity android:name=".firstbluda.FirstBludaActivity" />
        <activity android:name=".meat.EditMeatActivity" />
        <activity android:name=".meat.MeatActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>